venv*
auto_subs/web_app_auto_subs/utils/services/subtitles1/model
**/__pycache__
**/.idea
**/.vscode
**/~*
**/venv*
**/setenv.sh
**/.env.dev
**/*.json
**/*.srt
**/*.tsv
**/*.vtt
**/*.txt
**/*.mp4
**/*.mp3
**/t.py
**/*.log
**/db.sqlite3
**/*sqlite3
**/*.log
**/cert.crt
**/cert.key
**/.env
**/*celerybeat-schedule*
**/.key
**/my-docker-compose.yml

!**/*requirements.txt
!**/*requirements3.11.3.txt
!**/for_make_folder.txt
!**/requirements3.11.3rocm.txt
!**/req.txt
!**/help/initialize_db.json

