venv*
auto_subs/web_app_auto_subs/utils/business_logic/subtitles1/model
**/__pycache__
**/.idea
**/.vscode
**/~*
**/venv*
**/setenv.sh
**/.env.dev
**/*.json
**/*.srt
**/*.tsv
**/*.vtt
**/*.txt
**/*.mp4
**/*.mp3
**/t.py
**/*.log
!**/*requirements.txt
!**/for_make_folder.txt

