<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link href="https://vjs.zencdn.net/8.5.2/video-js.css" rel="stylesheet" />
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'web_app_auto_subs/css/styles.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>
<body>
    <header>
        <h1>{{title}}</h1>
    </header>
    
    <nav>
        <div class="menu-container">
            <ul class="menu-list">
                {% block main_menu %}
                    {% for i in menu %}
                        {% if cur_menu != i.title %}
                            <li><a href="{% url i.url_name %}">{{ i.title }}</a></li>
                        {% else %}
                            <li><a href="#">{{ i.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endblock main_menu %}
            </ul>

            <ul class="auth-links">
                {% block register %}
                    {% if request.user.is_authenticated %}
                        <li class="profile-link"><a href="{% url 'personal_account' %}">Profile</a></li>
                        <li class="profile-link">
                            <span class="username">{{ request.user.username }}</span> | 
                            <a href="{% url 'logout' %}">Log out</a>
                        </li>
                    {% else %}
                        <li><a href="{% url 'register' %}">Sign up</a> ||| <a href="{% url 'login' %}">Sign in</a></li>
                    {% endif %}
                {% endblock register %}
            </ul>
        </div>
    </nav>

    {% block message %}
        {% if message %}
            <div class="message">
                <h1>{{ message }}</h1>
            </div>
        {% endif %}
    {% endblock message %}

    <div class="content">
        {% block content %}
            <!-- Основное содержимое страницы -->
        {% endblock content %}
    </div>

    <footer>
        <p>&copy; 2024 "Welcome to the club buddy"</p>
    </footer>
</body>

</html>
