<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link href="https://vjs.zencdn.net/8.5.2/video-js.css" rel="stylesheet" />
    </head>
    <body>
        {% block main_menu %}
            {% for i in menu %}
                {% if cur_menu != i.title %}
                    <li><a href="{% url i.url_name %}">{{ i.title }}</a></li>
                {% else %}
                    <li>{{ i.title }}</li>
                {% endif %}
            {% endfor %}
        {% endblock main_menu %}

        {% block register%}
            {% if request.user.is_authenticated %}
                <li>{{user.username}} | <a href="{% url 'logout' %}"> Выйти</a></li>
            {% else %}
                <li><a href="{% url 'register' %}">Регистрация</a> ||| <a href="{% url 'login' %}">Войти</a></li>
            {% endif %}
        {% endblock register %}

        {% block message %}
            {% if message %}
                {{ message }}
            {% endif %}
        {% endblock message %}


        {% block content %}

        {% endblock content %}
    </body>
</html>