{% extends 'web_app_auto_subs/base.html' %}


{% block content %}

    <a href="{% url 'edit_profile'%}">Изменить пользовательские данные</a>

    <br>
    <br>
    <br>


    {% for video in page_obj %}
        <a href="{{ video.get_absolute_url }}">{{ video.pk }}: {{ video.name_of_video }}</a>
        <br>
        <br>
    {% endfor %}

<nav>
    <ul>
        {% if page_obj.has_previous %}
            <a href = "?page={{ page_obj.previous_page_number }}">&lt</a>

        {% endif %}

        {% for p in paginator.page_range %}
            {% if page_obj.number == p %}
                {{ p }}
            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                <a href="?page={{ p }}">{{ p }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href = "?page={{ page_obj.next_page_number }}">&gt</a>
        {% endif %}
    </ul>
</nav>

    

    

{% endblock content %}